configuration {
    kb-row-up: "Up";
    kb-row-down: "Down";
    kb-accept-entry: "Return";
    kb-mode-next: "Tab";
}

window {
    width: 50%;
    height: 60%;
    location: center;
    border-radius: 8px;
}

listview {
    lines: 10;
    scrollbar: false;
    dynamic: true;
    fixed-height: false;
}

entry {
    placeholder: "Search..";
}

element {
    padding: 4px 8px;
}

element-text {
    font: "JetBrainsMono Nerd Font 14";
}

element-icon {
    size: 24px;
}
